spring:
  application:
    name: gameclub-backend
  datasource:
    url: jdbc:sqlite:gameclub.db
    driver-class-name: org.sqlite.JDBC
  mybatis-plus:
    configuration:
      map-underscore-to-camel-case: true
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    global-config:
      db-config:
        id-type: auto
        table-underline: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
  cors:
    allowed-origins: http://localhost:3000
    allowed-methods: GET,POST,PUT,DELETE,OPTIONS
    allowed-headers: "*"

logging:
  level:
    com.gameclub: DEBUG
    org.springframework.web: INFO

